<launch>
  <node pkg="tf" name="depth_to_top_camera_frame_publisher" type="static_transform_publisher" args="-0.03659929 0.04089561 -0.0206825 -0.01224383 -0.00762074 0.01041084 0.9998418 CameraTop_optical_frame CameraDepth_optical_frame 1"/>

  <node pkg="image_proc" type="image_proc" name="rgb_processing" output="screen" ns="/naoqi_driver_node/camera/front" />

  <node pkg="nodelet" type="nodelet" name="register_depth" output="screen"
        args="standalone depth_image_proc/register" >
    <remap from="rgb/camera_info" to="/naoqi_driver_node/camera/front/camera_info"/>
    <remap from="depth/camera_info" to="/naoqi_driver_node/camera/depth/camera_info"/>
    <remap from="depth/image_rect" to="/naoqi_driver_node/camera/depth/image_raw"/>
    <remap from="depth_registered/camera_info" to="/naoqi_driver_node/camera/depth_registered/camera_info"/>
    <remap from="depth_registered/image_rect" to="/naoqi_driver_node/camera/depth_registered/image_rect"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="cloudify" output="screen"
        args="standalone depth_image_proc/point_cloud_xyzrgb" >
    <remap from="rgb/camera_info" to="/naoqi_driver_node/camera/front/camera_info"/>
    <remap from="rgb/image_rect_color" to="/naoqi_driver_node/camera/front/image_rect_color"/>
    <remap from="depth_registered/image_rect" to="/naoqi_driver_node/camera/depth_registered/image_rect"/>
    <remap from="depth_registered/points" to="/naoqi_driver_node/camera/depth_registered/points"/>
  </node>
</launch>

<!--
  vim: filetype=xml
-->
